In [4]:
name = 'RyanTruong'
age = 21
name, age = age, name
print(name, age)

21 RyanTruong

In [9]:
print(type(5))
print(type(5.0))
print(type('5'))
print(type([5]))
print(type(5,))
print(type({5}))
print(type(True))

is_student = True
print(is_student)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'set'>
<class 'bool'>
True

In [12]:
print(15 + 23)
print(50 - 32)
print(8 * 7)
print(100/4)

a = 10
b = 5
print(a%b)
print(a**b)

38
18
56
25.0
0
100000

In [24]:
print(int("123"))
print(type(int("123")))

print(str(456))
print(type(str(456)))

print(int(78.9))
print(type(int(78.9)))

123
<class 'int'>
456
<class 'str'>
78
<class 'int'>

In [26]:
a = "Python"+"Rocks"
print(a)

PythonRocks

In [31]:
b = "Hello"*3
print(b)

HelloHelloHello

In [37]:
x = 5
y = 10
z = 15

x = x + x
y = x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x + x/x
z = x/x + x/x + x/x + x/x + x/x

print(x, y, z)

10 15.0 5.0