# A1. Strings
- String s = "ProgrammingIsFun"
- Extract + print substring "Programming"
- Extract + print every 3rd char of str

In [1]:
s = "ProgrammingisFun"
print()
print(s[0:11])
print()
print(s[3::3])
print()

Programming

gmnsn

# A2. Lists
- lst = [10, 20, 30, 40, 50, 60, 70 , 80]
- E + P first 3 elements
- " " last 2 elements
- " " elements from index 3 - 6 (*inclusive*)
- " " every 2nd element 
- " " every 2 element **started from the end of the list**

In [2]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
first_3 = lst[0:3]
print() 
print(first_3)
print()
last_2_ele = lst [6:]
print(last_2_ele)
print()
index_3_6_i = lst[2:5]
print(index_3_6_i)
print()
every_2nd = lst[1::2]
print(every_2nd)
print()
every_2nd_reverse = lst[-3::-2]
print(every_2nd_reverse)

[10, 20, 30]

[70, 80]

[30, 40, 50]

[20, 40, 60, 80]

[60, 40, 20]

# A3. Tuples
- tup = (5, 10, 15, 20, 25, 30, 35, 40)
    - E + P second element
    - " " print last 3 elements
    - " " elements from index 2 - 5 (*exclusive*)

In [10]:
tup = (5, 10, 15, 20, 25, 30, 35, 40)
second_ele = tup[1]
print()
print(second_ele)
print()
last_3_ele_tup = tup[-1::-3]
print(last_3_ele_tup)
print()
index_2_5_tup = tup[2:5]
print(index_2_5_tup)

10

(40, 25, 10)

(15, 20, 25)

# B1. Strings
- Find + print inedx of first occurance of substring "ming" in s
- Convert string s to lowercase, print
- Place substring "Fun" w/ "Amazing," print

In [4]:
ming = s[7:11]
print()
print(ming)
print()
print(s.lower())
rep_string = "Amazing"
s.replace("Fun", rep_string)

ming

programmingisfun

'ProgrammingisAmazing'

# B2. Lists
- Add elements 90 + 100 to end of lst, print
- remove 2nd element from lst, " " 
- reserve the order of elements in lst, " "
- F + P index of element 50 in lst.

In [5]:
lst.extend([90, 100])
print(lst)
lst.pop(1)
print(lst)
lst.reverse()
print(lst)
_50_ = lst.index(50)
print = _50_

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 10]

# B3. Tuples
- Count + P number of occurances of 20 in tup
- Convert tup into lst, add 45 to end, convert back to tup. Print

In [16]:
print(tup.count(20))
tupl = list(tup)
tup1.append(45)
tup1.remove(45)
tup1.remove(45)
tupl.remove(45)
tupl.remove(45)
tup = tuple(tup1)
print(tup)

1
(5, 10, 15, 20, 25, 30, 35, 40, 45)

# B4. Dictionaries
- Given dictionary S_Doo_ = {"Scooby": 4, "Shaggy": 19, "Velma": 18, "Daphne": 20}
    - Add a new key-value pair: "Phred": 21 + Print
    - Retrieve + P age of "Velma"
    - Remove "Scooby" and his age from dictionary, Print
    - P all keys in dictionary
    - P all values in dictionary

In [22]:
S_Doo_ = {"Scooby": 4, "Shaggy": 19, "Velma": 18, "Daphne": 20}

S_Doo_["Phred"] = 21
print(S_Doo_)
print()
print(S_Doo_["Velma"])
S_Doo_.pop("Scooby",)
print()
print(S_Doo_)
print()
print(S_Doo_.keys())
print(S_Doo_.values())

{'Scooby': 4, 'Shaggy': 19, 'Velma': 18, 'Daphne': 20, 'Phred': 21}

18

{'Shaggy': 19, 'Velma': 18, 'Daphne': 20, 'Phred': 21}

dict_keys(['Shaggy', 'Velma', 'Daphne', 'Phred'])
dict_values([19, 18, 20, 21])