# 1. Create a series:
- Create a Series named 'fruits' with the data: apple, banana, cherry, date, and assign it an index of a, b, c, d respectively. 
- print the series
- print the 'index' of the series.

In [2]:
import pandas as pd

fruits = pd.Series(data=['apple','banana','cherry','date'], index=['a','b','c','d'])

print(fruits, fruits.index)

a     apple
b    banana
c    cherry
d      date
dtype: object Index(['a', 'b', 'c', 'd'], dtype='object')

# 2. Accessing Elements:
- print the second ("b") element of the fruits Series.

In [3]:
fruits['b']

'banana'

# 3. Series Operations:
- Create a Series w/ the squares of the numbers 1 through 5. 
- Add 10 to each item in the series

In [4]:
squares = pd.Series(data=[i**2 for i in range (1, 6)])

squares_plus_10 = squares + 10
print(squares_plus_10)

0    11
1    14
2    19
3    26
4    35
dtype: int64

# 1. Create a DataFrame
- Create a DataFrame named students w/ the columns: 'Name', 'Age', 'Grade'.
- Populate it w/ data for three fictional students

# 2, Accessing Data:
-  Print the 'name' colum of the students DataFrame

# 3. DataFrame Ops
- Add a new column to the students DataFrame named Graduated, which should be True if the student's grade is 'A' and False otherwise
- Print the updated DataFrame

# 4.Maths: 
- Calculate and print the average age of the students

# 5. Sorting: 
- Sort the students DataFrame based on the Age column in descending order + print it

# 6. Tidy Date
- Re-make the cog health data frame from class so it is tidy, with each column as a variable + each row an observation.
- Compute the mean + std_dev of all vars
- Compute the mean + std_error for happiness var

In [16]:
students = pd.DataFrame({
    'Name': ['Ellie', 'Satvik', 'Benjamin'],
    'Age': [21, 25, 27],
    'Grade': ['A', 'C', 'D']
})

name_column = students['Name']

students['Graduated'] = students['Grade'] == 'A'

average_age = students['Age'].mean()

students_sorted_by_age = students.sort_values(by='Age', ascending=False)

print(name_column)
print(students)
print(average_age)
print(students_sorted_by_age)

0       Ellie
1      Satvik
2    Benjamin
Name: Name, dtype: object
       Name  Age Grade  Graduated
0     Ellie   21     A       True
1    Satvik   25     C      False
2  Benjamin   27     D      False
24.333333333333332
       Name  Age Grade  Graduated
2  Benjamin   27     D      False
1    Satvik   25     C      False
0     Ellie   21     A       True

In [17]:
cognitive_health_dict = {'happyness': 12,
                         'language': 3, 
                         'energy': 8, 
                         'memory': 5}
cognitive_health_Series = pd.Series(cognitive_health_dict)

cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)

cognitive_health_subject3_dict = {'happyness': 15+3,
                                  'language': 4+3, 
                                  'energy': 9+3, 
                                  'memory': 6+3}
cognitive_health_subject3_series = pd.Series(cognitive_health_subject3_dict)

cognitive_health_subject4_dict = {'happyness': 15-2,
                                  'language': 4-2, 
                                  'energy': 9-2, 
                                  'memory': 6-2}
cognitive_health_subject4_series = pd.Series(cognitive_health_subject4_dict)

sample_dict = {'subject 1': cognitive_health_Series, 
               'subject 2': cognitive_health_subject2_series, 
               'subject 3': cognitive_health_subject3_series,
               'subject 4': cognitive_health_subject4_series}
sample = pd.DataFrame(sample_dict)

cols = sample.columns
rows = sample.index

tidy_sample = sample.reset_index().melt(id_vars='index', value_vars=sample.columns)
tidy_sample.columns = ['Measure', 'Subject', 'Value']

tidy_sample

      Measure    Subject  Value
0   happyness  subject 1     12
1    language  subject 1      3
2      energy  subject 1      8
3      memory  subject 1      5
4   happyness  subject 2     15
5    language  subject 2      4
6      energy  subject 2      9
7      memory  subject 2      6
8   happyness  subject 3     18
9    language  subject 3      7
10     energy  subject 3     12
11     memory  subject 3      9
12  happyness  subject 4     13
13   language  subject 4      2
14     energy  subject 4      7
15     memory  subject 4      4

In [19]:
mean_values = tidy_sample.groupby('Measure')['Value'].mean()
std_values = tidy_sample.groupby('Measure')['Value'].std()

happiness_data = tidy_sample[tidy_sample['Measure'] == 'happyness']['Value']
happiness_mean = happiness_data.mean()
happiness_standard_error = happiness_data.sem()

mean_values, std_values, happiness_mean, happiness_standard_error

(Measure
 energy        9.0
 happyness    14.5
 language      4.0
 memory        6.0
 Name: Value, dtype: float64,
 Measure
 energy       2.160247
 happyness    2.645751
 language     2.160247
 memory       2.160247
 Name: Value, dtype: float64,
 14.5,
 1.3228756555322954)